.dropbutton {
  padding: 14px;
  border: none;
  cursor: pointer;
  width: 3.3rem;
  fill: #3c3e7c;
  position: relative;
}

.dropdownmenu {
  position: relative;
  display: inline-block;
  outline: none;
}

.dropdownmenu-content {
  position: absolute;
  background-color: azure;
  min-width: 110px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  right: -5px;
}

.dMenu {
  margin: 5px 10px;
}
