.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-direction: column;
}

.feed {
  background-color: azure;
  height: auto;
  width: 25rem;
  border-radius: 1rem;
  margin: 1rem 0;
}

.profile-feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 1rem;
}

.profile-info {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.fa-user-circle {
  font-size: 2rem;
}

.profile-img,
.profile-name {
  margin: 0.3rem;
}

.profile-name a {
  text-decoration: none;
  color: inherit;
}

.profile-name h3 {
  font-weight: 700;
  color: #3c3e7c;
  font-size: 1.2rem;
  /* letter-spacing: 1px; */
  font-family: Rajdhani, sans-serif;
}

.content {
  margin: 2rem;
  height: inherit;
}

/* -------------------------------------------------------------------------------------------- */

.dropbutton {
  padding: 14px;
  border: none;
  cursor: pointer;
  width: 3.3rem;
  fill: #3c3e7c;
  position: relative;
}

.dropdownmenu {
  position: relative;
  display: inline-block;
  outline: none;
}

.dropdownmenu-content {
  /* display: none; */
  position: absolute;
  background-color: azure;
  min-width: 110px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-family: Rajdhani, sans-serif;
  font-weight: 600;
  right: -5px;
}

.dropdownmenu-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
}

.dropdownmenu a:hover {
  background-color: rgba(95, 95, 95, 0.13);
}

.show {
  display: block;
}
